<%- include('./partials/head') %>
<nav class="navbar">
  <div class="navbar-item">
      <form action="/" method="post">
          <button class="back-button" tabindex="1">Terug naar Inloggen</button>
      </form>
  </div>
  <div class="navbar-brand">
      <span class="navbar-item" tabindex="2">U bent nu ingelogd als: Bedrijf X</span>
  </div>
  <div class="navbar-menu">
      <div class="navbar-end">
          <img src="/imgs/handprint-for social preview (1).png" alt="Handprint/Footprint" aria-hidden="true" class="handprint-img-stakeholders">
      </div>
  </div>
</nav>

<%- include('./partials/foot') %>


