<%- include('./partials/head') %>

<nav class="navbar">
  <div class="navbar-item">
      <form action="/" method="post">
          <button class="back-button">Terug naar Inloggen</button>
      </form>
  </div>
  <div class="navbar-brand">
      <span class="navbar-item">U bent nu ingelogd als: Bedrijf X</span>
  </div>
  <div class="navbar-menu">
      <div class="navbar-end">
      </div>
  </div>

</nav>
<div class="SDG-pagina">
<main>
  <div class="SDGs">
  <div class="container">
    <h1>Aan welke SDG’s wordt een <span>positieve</span> bijdrage geleverd doordat deze mensen bij jouw bedrijf werken? * 2/4</h1>
    <h2>Denk bijvoorbeeld aan het feit dat jouw bedrijf loon betaalt, waardoor SDG 1 en 2 worden geholpen. Of kijk naar de arbeidsomstandigheden (bureau, stoel, licht, werktijden) waarmee SDG 3 wordt geholpen.</h2>
  
    <h3 class="important-heading">Kies <span>MINIMAAL</span> 3 SDG's voor jouw stakeholder</h3>

    <div class="container-sdg">
      <% data.forEach(item => { %>
        <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="clickable-image">
      <% }); %>
    </div>

    <div id="progress-bar-container">
      <div id="progress-bar"></div>
    </div>

    <div class="button-container">
      <form action="/stakeholder" method="post">
        <button class="back-button">Back to stakeholders</button>
      </form>
    <form action="/vragenlijst" method="post">
        <button id="submit-button">Kies deze sdg's</button>
      </form>
      <button id="remove-progress-button"></button>
  </div>
</div>
</div>
</main>

<%- include('./partials/foot') %>
