<%- include('./partials/head') %>
<header>
  <div class="container-logo">
    <div id="logo">
      <i class="fas fa-building"></i>
    </div>
    <% if (chosenStakeholder) { %>
        <h4> <%= chosenStakeholder %></h4>
      <% } %>
  </div>
  <button id="remove-progress-button"></button>
</header>

<div id="progress-bar-container">
  <div id="progress-bar"></div>
</div>

<main>
  <div class="container">
    <h1>Aan welke SDG’s wordt een <span>positieve</span> bijdrage geleverd doordat deze mensen bij jouw bedrijf werken? *</h1>
    <h2>Denk bijvoorbeeld aan het feit dat jouw bedrijf loon betaalt, waardoor SDG 1 en 2 worden geholpen. Of kijk naar de arbeidsomstandigheden (bureau, stoel, licht, werktijden) waarmee SDG 3 wordt geholpen.</h2>
    <h3 id="choose-counter"></h3>
    <div class="container-sdg">
      <% data.forEach(item => { %>
        <img src="https://fdnd-agency.directus.app/assets/<%= item.icon %>" class="clickable-image">
      <% }); %>
    </div>

    <form action="/vragenlijst" method="post">
        <button id="submit-button">Submit</button>
      </form>

    <form action="/stakeholder" method="post">
      <button type="submit">Back to stakeholders</button>
    </form>
  </div>
</main>

<%- include('./partials/foot') %>
