<%- include('./partials/head') %>
<h1>Kies een stakeholder.</h1>
<h3>Vergeet niet dat je altijd kunt teruggaan om een andere stakeholder aan te klikken.</h3>

<section id="choosable-stakeholders">
    <form action="/SDG" method="post">
        <fieldset>
            <% data.forEach(item => { %>
            <label>
                <input type="radio" name="chosenItem" value="<%= item.name %>">
                <%= item.name %>
            </label>
            <% }); %>
        </fieldset>
        <button type="submit" class="stakeholder-btn">Naar de SDG's!</button>
    </form>
    <form action="/" method="get">
        <button class="back-button">Back to Login</button>
      </form>
</section>
<%- include('./partials/foot') %>